@font-face {
    font-family: 'Pixel';
    src: url(./fonts/pixel.ttf) format('truetype');
}

html {
    background-color: black;
    color: whitesmoke;
    font-family: 'Pixel';
    line-height: 1.5px;
}

body {
    margin-top: 50px;
}

a {
    color: inherit;
    text-decoration: none
}